.days-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 10px;
}

.day-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  background-color: var(--color-font);
  border-radius: 8px;
  width: calc(20% - 10px);
  box-shadow: var(--shadow-day-card);
  min-width: 100px;
  transition: transform 0.2s ease;
}

.day-card:hover {
  transform: translateY(-5px);
}

.day-name {
  font-weight: bold;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.day-icon {
  width: 50px;
  height: 50px;
  margin: 5px 0;
}

.day-temps {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 8px;
}

.temp-max {
  font-weight:600;
  color: var(--color-temp-max);
}

.temp-min {
  font-weight:500;
  color: var(--color-temp-min);
}

.day-card.today {
  background-color: var(--color-bg-today);
  border: 1px solid var(--color-primary);
  box-shadow: var(--shadow-today-card);
}

.day-card.today .day-name {
  color: var(--color-primary);
  font-weight: 700;
}

/* -------------- Responsive -------------- */
@media (max-width: 768px) {
  .day-card {
    width: calc(33.33% - 10px);
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .day-card {
    width: calc(50% - 10px);
  }
}


