.weather.card {
    margin-top:4vh;
}

.weather.card .card-content {
    background: var(--color-card-content);
    color: var(--color-font);
}

.weather.card .card-action {
    background: var(--color-card-action);
}

.weather .temperature {
    margin-left:4vh;
    font-size:120px;
    font-family: 'Roboto', sans-serif;
    text-shadow: var(--shadow-text);
}

.error-message {
    color: var(--color-font-error);
    font-weight: bold;
    margin-top: 10px;
    padding: 8px;
    background-color: var(--color-bg-header);
    border-radius: 4px;
  }
